<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style type="text/css">
            .container {
                max-width: 460px;
                margin: 60px auto 100px auto;
                width: 100%;
                padding: 10px 20px 0px 20px;
            }
            .title {
                font-size: 36px;
                line-height: 48px;
            }
            .title2 {
                margin-top: 60px;
                font-size: 28px;
                line-height: 48px;
            }
            .title_secend {
                display: inline-block;
                font-size: 36px;
                line-height: 48px;
            }
            .titleIcon {
                display: inline-block;
                width: 43px;
                margin: 0;
            }
            .goalbox {
                height: 362px;
                margin: 25px 0px 20px 0px;
                padding: 17px 28px;
                border-radius: 20px;
                border: solid 2px #6dce59;
            }
            .goaldate {
                font-size: 18px;
                line-height: 2.67;
            }
            .goalname {
                font-size: 28px;
                line-height: 1.71;
            }
            .gaugebar {
                height: 178px;
            }
            .gauge{
                margin-top:84px;
                padding-left:14px;
                padding-right:14px;
                -webkit-appearance: none;
                height: 30px;
                width: 404px;
            }
            ::-webkit-progress-bar{
                background-color: #ebebeb;
                border-radius: 20px;
            }
            ::-webkit-progress-value {
            background: #6dce59;
            border-radius: 20px;
            width: 404px;
            height: 30px;
            }
            .text_1{
                display: inline-block;
    
                height: 20px;
                margin-top: 14px;
                padding-left:28px;
                font-family: NanumBarunGothic;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.67;
                letter-spacing: normal;
                text-align: left;
                color: #777777;
            }
            .text_2{
                display: inline-block;
                height: 20px;
                margin-top: 14px;
                margin-left:200px;
                font-family: NanumBarunGothic;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.67;
                letter-spacing: normal;
                text-align: left;
                color: #777777;
            }
            .deposit {
                text-align: center;
                vertical-align: middle;
                padding-top: 22px;
                padding-bottom: 22px;
                font-size: 24px;
                color: #6dce59;
                line-height: 2;
            }  .deposit >a{
                text-decoration: none;
                font-size: 24px;
                color: #6dce59;
                line-height: 2;
            }
            .addbox {
                width: 100%;
                height: 60px;
                padding: 24px 0px;
                border-radius: 20px;
                border: solid 1px #c4c4c4;
            }
            .addicon {
                margin: 0 auto;
                width: 60px;
                height: 60px;
            }
            .space {
                margin: 0;
                padding: 0;
                height: 20px;
            }
            .merchandise {
                margin-top: 8px;
                height: 60px;
                padding: 35px 28px;
                border-radius: 20px;
                background-color: #f1f1f1;
            }
            .merchandise2 {
                margin-top: 8px;
                height: 95px;
                padding: 0px 28px 35px 28px;
                border-radius: 20px;
                background-color: #f1f1f1;
            }
            .content {
                height: 58px;
            }
            .contentTitle {
                display: inline-block;
                font-size: 22px;
                line-height: 1.45;
                color: #222222;
            }
            .contentTitle2 {
                display: inline-block;
                margin-top: 35px;
                font-size: 22px;
                line-height: 1.45;
                color: #222222;
            }
            .contentIcon {
                width: 130px;
                float: right;
            }
            .contentIcon2 {
                width: 130px;
                float: right;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="title">NH10님.</div>
            <div class="title_secend">곧 달성하겠어요</div>
            <div class="titleIcon">
                <img
                    src="/../public/images/icon_imoge10.png"
                    alt="logo"
                    width="100%"
                    height="100%"
                />
            </div>
            <div class="title2">목표달성</div>
            <div class="goalbox">
                <div class="goaldate">20.12.09 ~ 20.12.23</div>
                <div class="goalname">아디다스 패딩</div>
                <div class="gaugebar">
                    <progress class="gauge" value="40" max="100"></progress>
                    <div class="text_1">50,000원</div>
                    <div class="text_2">150,000원</div>
                </div>
                <div class="deposit"><a href="/c/goal/ing">추가 입금</a></div>
            </div>
            <div class="addbox">
                <div class="addicon">
                    <img
                        src="/../public/images/구성 요소 45 – 3@2x.png"
                        alt="logo"
                        width="100%"
                        height="100%"
                    />
                </div>
            </div>
            <div class="title2">목표 달성 꿀팁</div>
            <div class="space"></div>
            <div class="merchandise">
                <div class="content">
                    <div class="contentTitle">
                        초보자를 위한<br />목표 달성 게획표
                    </div>
                    <div class="contentIcon">
                        <img
                            src="/../public/images/10imgaes@2x.png"
                            alt="logo"
                            width="100%"
                            height="100%"
                        />
                    </div>
                </div>
            </div>
            <div class="merchandise2">
                <div class="contentTitle2">용돈 관리의<br />중요성</div>
                <div class="contentIcon2">
                    <img
                        src="/../public/images/용돈@2x.png"
                        alt="logo"
                        width="100%"
                        height="100%"
                    />
                </div>
            </div>
        </div>
    </body>
</html>
