<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>목표달성 홈</title>
        <link
            rel="stylesheet"
            href="/../public/css/goals.css"
            type="text/css"
        />
    </head>
    <body>
        <div class="wrap">
            <div class="box-container1">
                <div class="box1_1">NH10님.<br />목표에 도전해봐요</div>
                <img class="box1_2" src="/../public/images/icon_imoge04.png" />
            </div>
            <div class="box-container2">
                <div class="box2_1">목표달성</div>
            </div>
            <div class="box-container3">
                <img
                    class="box3_1"
                    src="/../public/images/구성 요소 50 – 2.png"
                />
                <div class="box3_2">목표달성 시작하기</div>
            </div>
            <div class="box-container4">
                <div class="box4_1">목표달성 꿀팁</div>
            </div>
            <div class="box-container5">
                <div class="box5_1">초보자를 위한<br />목표달성 계획표</div>
                <img class="box5_2" src="/../public/images/10imgaes.png" />
            </div>
            <div class="box-container6">
                <div class="box6_1">용돈관리의<br />중요성</div>
                <img class="box6_2" src="/../public/images/용돈.png" />
            </div>
        </div>
    </body>
</html>
