<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>목표달성- 자녀작성/수정</title>
        <link rel="stylesheet" href="c_goal_add.css" type="text/css">
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="backicon">
                    <img
                        src="/../public/images/icon_left_button_s@2x.png"
                        alt="logo"
                        width="100%"
                        height="100%"
                    />
                </div>
                <div class="title">목표 달성</div>
            </div>
            <div class="pagebox">
                <div class="pageicon">
                    <img
                        src="/../public/images/icon_circle_gray.png"
                        alt="logo"
                        width="100%"
                        height="100%"
                    />
                </div>
                <div class="pageicon">
                    <img
                        src="/../public/images/icon_circle_gray.png"
                        alt="logo"
                        width="100%"
                        height="100%"
                    />
                </div>
                <div class="pageicon2">
                    <img
                        src="/../public/images/icon_circle_3@2x.png"
                        alt="logo"
                        width="100%"
                        height="100%"
                    />
                </div>
            </div>
            <div class="box-container2">
                <div class="box2_1">NH10님.<br>목표를 설정해주세요</div>
                <img class="box2_2"src="icon/icon_imoge03.png">
            </div>
            <div class="box-container4">
                단기 목표 상품
            </div> 
            <div class="box-container5">
                <input class="input_photo"type="file" name="photo_upload" value="photo_upload" placeholder="상품이름">
            </div>
            <div class="box-container4">
                단기 목표 상품 금액
            </div> 
            <div class="box-container5">
                <input class="input_goal"type="text" name="goal_money"placeholder="개인 달성 희망 금액">
                <div class="box5_1">원</div>
                <div class="box-container5-2">
                    <div class="box5_2_1"><button class="box5_2_3">+1만</button></div>
                    <div class="box5_2_2"><button class="box5_2_3">+5만</button></div>
                    <div class="box5_2_2"><button class="box5_2_3">+10만</button></div>
                    <div class="box5_2_2"><button class="box5_2_3">+15만</button></div>
                </div>
            </div>
            <div class="box-container4">
                달성 시 지원 요청 금액
            </div> 
            <div class="box-container5">
                <input class="input_goal"type="text" name="support_money"placeholder="개인 목표 금액보다 적은 금액 설정">
                <div class="box5_1">원</div>
                <div class="box-container5-2">
                    <div class="box5_2_1"><button class="box5_2_3">+1만</button></div>
                    <div class="box5_2_2"><button class="box5_2_3">+5만</button></div>
                    <div class="box5_2_2"><button class="box5_2_3">+10만</button></div>
                    <div class="box5_2_2"><button class="box5_2_3">+15만</button></div>
                </div>
            </div>
            <div class="box-container4">
                달성 희망 기간
            </div> 
            <div class="box-container5">
                <input class="input_date"type="date" name="goal_date">
            </div>
        <div class="okbutton">확인</div>
        </div>
    </body>
</html>
