<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>목표달성 메인</title>
        <link rel="stylesheet" href="goal_main.css" type="text/css">
    </head>
    <body>
        <div class="wrap">
            <div class="box-container1">
                <div class="box1_1">NH10님.<br>현재 요청된 상태에요</div>
                <img class="box1_2" src="/../public/images/icon_imoge06.png">
            </div>
            <div class= "box-container2">
                <div class="box-container2-1">
                    <img class="box2_1" src="/../public/images/목표이미지.png">
                    <div class="box2_2">NH10님의</div>
                    <div class="box2_3">목표달성계획표</div>
                </div>
                <div class="box-container2-2">
                    <img class="box2_4" src="/../public/images/process.png">
                    <div class="box2_5">목표 설정</div>
                    <div class="box2_5">피드백</div>
                    <div class="box2_5">달성 시작</div>
                </div>
                <div class="box-container2-3">
                    <div class="box-container2-4">
                        <img class="box2_6" src="/../public/images/icon_goal.png">
                        <div class="box2_7">150,000원</div>
                    </div>
                    <div class="box-container2-4">
                        <img class="box2_6" src="/../public/images/icon_sup.png">
                        <div class="box2_7">100,000원</div>
                    </div>
                    <div class="box-container2-4">
                        <div class="box2_8">2020년 12월 23일(수)</div>    
                    </div>
                </div>
                <div class="box-container2-5">
                    <div class="box-container2-5-1">
                        <div class="box2_9">재수정요청</div>
                        <img class="box2_10" src="">
                        <div class="box2_11">달성시작</div>
                    </div>
                </div>
            </div>
    
            </div>
        </div>
    </body>
</html>
