<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="../public/css/c_popup.css" />
    <title>NH10</title>
    <meta charset="utf-8">
    <!-- for Mobile Meta -->
    <meta content="width=device-width, height=device-height, initial-scale=1.0" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
    <div class="wrap">
        <div class="box-container1">
            <div class="box1_1">아디다스 패딩 획득!</div>
        </div>
        <div class="box-container2">
            <div class="box2_1">250,000원</div>
        </div>
        <div class="box-container3">
            <img class="box3_1" src="../public/images/bg_left.png" alt="congrat">
            <img class="box3_2" src="../public/images/목표이미지.png" alt="adidas">
            <img class="box3_3" src="../public/images/bg_right.png" alt="congrat">
        </div>
        <div class="box-container4">
            <div class="box4_1">20.12.09 ~ 20.12.23</div>
        </div>
        <div class="box-container5">
            <div class="box5_1">확인</div>
        </div>
    </div>
</body>

</html>