<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="../public/css/c_saving.css" />
    <title>NH10</title>
    <meta charset="utf-8">
    <!-- for Mobile Meta -->
    <meta content="width=device-width, height=device-height, initial-scale=1.0" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
    <div class="wrap">
        <div class="box-container1">
            <div class="box1_1">NH10님.<br>꾸준함이 정말 대단해요</div>
            <img class="box1_2" src="../public/images/icon_imoge03.png" alt="smile">
        </div>
        <div class="box-container2">
            <div class="box2_1">나의 저축 통장</div>
        </div>
        <div class="box-container3">
            <div class="box3_1">총 저축 금액</div>
            <div class="box3_2">280,000원</div>
        </div>
        <div class="box-container4">
            <img class="box4_1" src="image/screenshot.png" alt="graph">
        </div>
        <div class="box-container5">
            <div class="box5_1">저축 상품 추천</div>
        </div>
        <div class="box-container6">
            <img class="box6_1" src="image/product1.png" alt="product1">
        </div>
        <div class="box-container7">
            <img class="box7_1" src="image/product2.png" alt="product2">
        </div>
    </div>
</body>

</html>