<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <script
            src="http://code.jquery.com/jquery-1.11.3.min.js"
            type="text/javascript"
            charset="utf-8"
        ></script>
        <script>
            $(function () {
                let sBtn = $("ul > li")
                sBtn.find("a").click(function () {
                    sBtn.removeClass("active")
                    $(this).parent().addClass("active")
                })
            })
        </script>
        <style type="text/css">
            #navbarwrap {
                max-width: 460px;
                margin: 0px auto 65px auto;
                height: 68px;
                padding: 10px 20px 0px 20px;
            }
            #logo {
                display: inline-block;
                margin-top: 20px;
                width: 127px;
                height: 28px;
            }

            #navbarul {
                padding: 0px;
                margin: 0px;
                list-style: none;
                display: flex;
                width: 250px;
                height: 100%;
                float: right;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            #navbara {
                text-decoration: none;
            }
            #navbarul > li {
                margin: 0px;
                height: 100%;
                display: inline-block;
            }
            #navbarul > li > div {
                height: 100%;
                text-align: center;
            }
            #navbarul > li > div > a {
                font-size: 28px;
                margin-top: 15px;
                display: inline-block;
                color: #777777;
            }
            #navbarul > li > div:hover,
            #navbarul > li > div:focus,
            #navbarul > li > div:active,
            #navbarul > li > div.active {
                border-bottom: 2px solid #000000;
            }
            #navbarul > li > div:hover > a,
            #navbarul > li > div:focus > a,
            #navbarul > li > div:active > a,
            #navbarul > li > div.active > a {
                color: #000000;
            }
        </style>
    </head>
    <body>
        <div id="navbarwrap">
            <div id="logo">
                <a href="/c">
                    <img
                        src="/../public/images/logo.png"
                        alt="logo"
                        width="100%"
                        height="100%"
                    />
                </a>
            </div>
            <ul id="navbarul">
                <li>
                    <% if(type=="consumption"){%>
                    <div id="consumption" class="active">
                        <% }else{%>
                            <div id="consumption">
                            <% }%>
                        <a id="navbara" href="/c/consumption"> 소비</a>
                    </div>
                </li>
                <li>
                    <% if(type=="saving"){%>
                    <div id="saving" class="active">
                        <% }else{%>
                            <div id="saving">
                            <% }%>
                        <a id="navbara" href="/c/saving">저축</a>
                    </div>
                </li>
                <li>
                    <% if(type=="goal"){%>
                    <div id="goal" class="active">
                        <% }else{%>
                            <div id="goal">
                                <% }%>
                        <a id="navbara" href="/c/goal">목표달성</a>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
