<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <script>
            var plus1 = function () {
                var goal_money = document.querySelector("#goal_money").value
                var result = parseFloat(goal_money) + 10000.0
                if (isNaN(result)) {
                    result = 10000.0
                }
                document.querySelector("#goal_money").value = result
            }
            var plus5 = function () {
                var goal_money = document.querySelector("#goal_money").value
                var result = parseFloat(goal_money) + 50000.0
                if (isNaN(result)) {
                    result = 50000.0
                }
                document.querySelector("#goal_money").value = result
            }
            var plus10 = function () {
                var goal_money = document.querySelector("#goal_money").value
                var result = parseFloat(goal_money) + 100000.0
                if (isNaN(result)) {
                    result = 100000.0
                }
                document.querySelector("#goal_money").value = result
            }
            var plus15 = function () {
                var goal_money = document.querySelector("#goal_money").value
                var result = parseFloat(goal_money) + 150000.0
                if (isNaN(result)) {
                    result = 150000.0
                }
                document.querySelector("#goal_money").value = result
            }
            var S_plus1 = function () {
                var support_money = document.querySelector("#support_money")
                    .value
                var s_result = parseFloat(support_money) + 10000.0
                if (isNaN(s_result)) {
                    s_result = 10000.0
                }
                document.querySelector("#support_money").value = s_result
            }
            var S_plus5 = function () {
                var support_money = document.querySelector("#support_money")
                    .value
                var s_result = parseFloat(support_money) + 50000.0
                if (isNaN(s_result)) {
                    s_result = 50000.0
                }
                document.querySelector("#support_money").value = s_result
            }
            var S_plus10 = function () {
                var support_money = document.querySelector("#support_money")
                    .value
                var s_result = parseFloat(support_money) + 100000.0
                if (isNaN(s_result)) {
                    s_result = 100000.0
                }
                document.querySelector("#support_money").value = s_result
            }
            var S_plus15 = function () {
                var support_money = document.querySelector("#support_money")
                    .value
                var s_result = parseFloat(support_money) + 150000.0
                if (isNaN(s_result)) {
                    s_result = 150000.0
                }
                document.querySelector("#support_money").value = s_result
            }
        </script>
        <title>목표달성 수정-부모</title>
        <link
            rel="stylesheet"
            href="/../public/css/p_goal_add.css"
            type="text/css"
        />
    </head>
    <body>
        <div class="wrap">
            <div class="navbar">
                <div class="backicon">
                    <a href="/p/goal">
                        <img
                            src="/../public/images/icon_left_button_s@2x.png"
                            alt="logo"
                            width="100%"
                            height="100%"
                        />
                    </a>
                </div>
                <div class="title">목표 달성</div>
            </div>
            <div class="box-container2">
                <div class="box2_1">NH10님의<br />목표에 힘에 되어주세요</div>
                <img class="box2_2" src="/../public/images/icon_imoge09.png" />
            </div>
            <div class="box-container3">
                <img class="box3_1" src="/../public/images/목표이미지.png" />
                <div class="box3_2">단기 목표 상품</div>
                <div class="box3_3">아디다스 패딩</div>
            </div>
            <div class="box-container4">목표 상품 금액</div>
            <div class="box-container5">
                <input class="input_goal" type="text" id="goal_money" />
                <div class="box5_1">원</div>
                <div class="box-container5-2">
                    <div class="box5_2_1">
                        <button class="box5_2_3" onclick="plus1();">
                            +1만
                        </button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3" onclick="plus5();">
                            +5만
                        </button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3" onclick="plus10();">
                            +10만
                        </button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3" onclick="plus15();">
                            +15만
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-container4">지원 요청 금액</div>
            <div class="box-container5">
                <input class="input_goal" type="text" id="support_money" />
                <div class="box5_1">원</div>
                <div class="box-container5-2">
                    <div class="box5_2_1">
                        <button class="box5_2_3" onclick="S_plus1();">
                            +1만
                        </button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3" onclick="S_plus5();">
                            +5만
                        </button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3" onclick="S_plus10();">
                            +10만
                        </button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3" onclick="S_plus15();">
                            +15만
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-container4">달성 희망 기간</div>
            <div class="box-container5">
                <input class="input_date" type="date" name="goal_date" />
            </div>
            <div class="box-container6">
                <a href="/p/goal/ing">
                    <button class="box6_1">수정 요청하기</button>
                </a>
            </div>
        </div>
    </body>
</html>
