<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>목표달성 수정-부모</title>
        <link
            rel="stylesheet"
            href="/../public/css/p_goal_add.css"
            type="text/css"
        />
    </head>
    <body>
        <div class="wrap">
            <div class="navbar">
                <div class="backicon">
                    <img
                        src="/../public/images/icon_left_button_s@2x.png"
                        alt="logo"
                        width="100%"
                        height="100%"
                    />
                </div>
                <div class="title">목표 달성</div>
            </div>
            <div class="box-container2">
                <div class="box2_1">NH10님의<br />목표에 힘에 되어주세요</div>
                <img class="box2_2" src="/../public/images/icon_imoge09.png" />
            </div>
            <div class="box-container3">
                <img class="box3_1" src="/../public/images/목표이미지.png" />
                <div class="box3_2">단기 목표 상품</div>
                <div class="box3_3">아디다스 패딩</div>
            </div>
            <div class="box-container4">목표 상품 금액</div>
            <div class="box-container5">
                <input class="input_goal" type="text" name="goal_money" />
                <div class="box5_1">원</div>
                <div class="box-container5-2">
                    <div class="box5_2_1">
                        <button class="box5_2_3">+1만</button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3">+5만</button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3">+10만</button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3">+15만</button>
                    </div>
                </div>
            </div>
            <div class="box-container4">지원 요청 금액</div>
            <div class="box-container5">
                <input class="input_goal" type="text" name="support_money" />
                <div class="box5_1">원</div>
                <div class="box-container5-2">
                    <div class="box5_2_1">
                        <button class="box5_2_3">+1만</button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3">+5만</button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3">+10만</button>
                    </div>
                    <div class="box5_2_2">
                        <button class="box5_2_3">+15만</button>
                    </div>
                </div>
            </div>
            <div class="box-container4">달성 희망 기간</div>
            <div class="box-container5">
                <input class="input_date" type="date" name="goal_date" />
            </div>
            <div class="box-container6">
                <button class="box6_1">수정 요청하기</button>
            </div>
        </div>
    </body>
</html>
