<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>NH10</title>
        <meta charset="utf-8" />
        <!-- for Mobile Meta -->
        <meta
            content="width=device-width, height=device-height, initial-scale=1.0"
            name="viewport"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <style type="text/css">
            .logowrap {
                max-width: 500px;
            }
            .logobox {
                width: 200px;
                position: absolute;
                top: 40%;
                left: 40%;
                height: 100px;
                margin: -50px 0 0 -50px;
            }
            .logo {
                width: 100%;
            }
        </style>
    </head>

    <body>
        <div class="logowrap">
            <div class="logobox">
                <a href="/c/consumption">
                    <img
                        class="logo"
                        src="/../public/images/logo@2x.png"
                        alt="logo"
                    />
                </a>
            </div>
        </div>
    </body>
</html>
