.wrap {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}
.box-container1 {
    height: 90px;
}
.box1_1 {
    display: inline-block;
    width: 337px;
    height: 90px;
    font-family: NanumBarunGothic;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box1_2 {
    display: inline-block;
    width: 44px;
    height: 43px;
    margin-top: 43px;
    margin-left: 4px;
    margin-bottom: -4px;
    object-fit: contain;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #777777;
}
.box-container2 {
    height: 32px;
}
.box2_1 {
    width: 162px;
    height: 32px;
    font-family: NanumBarunGothic;
    margin-top: 50px;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box-container3 {
    height: 37px;
}
.box3_1 {
    display: inline-block;
    width: 120px;
    height: 26px;
    margin-top: 24px;
    margin-bottom: 6px;
    font-family: NanumBarunGothic;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}
.box3_2 {
    display: inline-block;
    width: 170px;
    height: 37px;
    margin-top: 19px;
    margin-left: 160px;
    font-family: NanumBarunGothic;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box-container4 {
    height: 152px;
}
.box4_1 {
    height: 152px;
    margin-top: 70px;
}
.box-container5 {
    height: 32px;
}
.box5_1 {
    width: 162px;
    height: 32px;
    margin: 90px 42px 40px 0;
    font-family: NanumBarunGothic;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box-container6 {
    height: 202px;
}
.box6_1 {
    height: 202px;
    margin-top: 40px;
}
.box-container7 {
    height: 202px;
}
.box7_1 {
    height: 202px;
    margin-top: 50px;
}
