.wrap{
    max-width: 500px;
    margin:0 auto;
}
.box-container1{
    width: 460px;
    height: 42px;
    margin-left:20px;
    margin-right:20px;
}
.box1_1{
    display: inline-block;
    width: 157px;
    height: 42px;
    font-family: NanumBarunGothic;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box-container2{
    width: 460px;
    height: 42px;
    margin-left:20px;
    margin-right:20px;
}
.box2_1{
    display: inline-block;
    width: 410px;
    height: 42px;
    margin-top: 8px;
    font-family: NanumBarunGothic;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box2_2{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left:4px;
    margin-bottom: -4px;
    object-fit: contain;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
}
.box-container3{
    width: 460px;
    height: 32px;
    margin-left:20px;
    margin-right:20px;
}
.box3_1{
    width: 235px;
    height: 32px;
    margin-top: 48px;
    font-family: NanumBarunGothic;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box-container4{
    width: 460px;
    height: 37px;
    margin-left:20px;
    margin-right:20px;
}
.box4_1{
    display: inline-block;
    width: 120px;
    height: 26px;
    margin-top: 24px;
    margin-bottom: 6px;
    font-family: NanumBarunGothic;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}
.box4_2{
    display: inline-block;
    width: 170px;
    height: 37px;
    margin-top: 19px;
    margin-left:160px;
    font-family: NanumBarunGothic;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box-container5{
    width: 460px;
    height: 152px;
    margin-left:20px;
    margin-right:20px;
}
.box5_1{
    width:460px;
    height:152px;
    margin-top:70px;
}
.box-container6{
    width:460px;
    height:32px;
    margin-left:20px;
    margin-right:20px;
}
.box6_1{
    width: 162px;
    height: 32px;
    margin: 90px 42px 40px 0;
    font-family: NanumBarunGothic;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.box-container7{
    width:460px;
    height:202px;
    margin-left: 20px;
    margin-right: 20px;
}
.box7_1{
    width:460px;
    height:202px;
    margin-top:40px;
}
.box-container8{
    width:460px;
    height:202px;
    margin-left: 20px;
    margin-right: 20px;
}
.box8_1{
    width:460px;
    height:202px;
    margin-top:50px;
}